.page__body {
  margin: 0;
  background-color: $color-background;
  font-family: Poppins, sans-serif;

}


.page:has(.page__menu:target) {
  overflow: hidden; /* not to scroll the page */
}


html {
  scroll-behavior: smooth;
}
